
.vs/config/applicationhost.config
.vs/WindowsFormsApplication1/v14/.suo
.vs/WindowsFormsApplication1/v14/.suo

bin
debug
WindowsFormsApplication1/obj/x86/Debug/WindowsFormsApplication1.csprojResolveAssemblyReference.cache
WindowsFormsApplication1/obj/x86/Debug/WindowsFormsApplication1.csprojResolveAssemblyReference.cache
WindowsFormsApplication1/obj/x86/Debug/WindowsFormsApplication1.exe
*.pdb
*.pdb
*.dll
*.cache
